<nav class="navbar navbar-expand-lg navbar-dark shadow" style="background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);">
  <div class="container">
      <h1 class="animate__animated animate__fadeIn" style="font-family: 'Orbitron', sans-serif; text-shadow: 2px 2px 4px rgb(255, 255, 255); letter-spacing: 2px; font-weight: 700;"> TaskManager </h1>       
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories" routerLinkActive="active">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
